<div class="page" id="about-page">
    <div class="main-container">
        <h1>About Me</h1>
        <div id="description" class="transparent-animated transparent-top">
            My name is Matthew Hwang, and I recently graduated from the University of Washington, Tacoma in 2018 with a Bachelor's in Computer Science. I am currently working as a Federal Worker
            at the Bureau of the Fiscal Service as an IT Specialist, where I work with the front-end team utilizing the Agile development methodology. 
            <br><br>
            Although most of my professional experience
            has been with the front-end, I am always looking to expand my skills and learn just about anything that will make me become a better developer. 
            <br><br>
            My goal is to become a senior full-stack software developer,
            with the hopes that with many years of experience, I will one day be able to work for NASA!
        </div>
        <div id="location-images">
            <div class="location transparent-animated transparent-right">
                <div id="south-korea" class="location-image"></div>
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">2013 - Daegu, South Korea</div>
                        <div>Graduated from Daegu American High School, which was located on an American military base stationed at Camp Walker, Daegu, South Korea.</div>
                    </div>
                </div>
            </div>
            <div class="location transparent-animated transparent-left">
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">2018 - Tacoma, Washington, USA</div>
                        <div>Transferred from the University of Washington, Seattle campus to the Tacoma campus and graduated with a Bachelor's in Computer Science.</div>
                    </div>
                </div>
                <div id="washington" class="location-image"></div>
            </div>
            <div class="location transparent-animated transparent-right">
                <div id="west-virginia" class="location-image"></div>
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">2019 - Parkersburg, West Virginia, USA</div>
                        <div>Started working for the Federal Government at the Bureau of the Fiscal Service as an IT Specialist, starting as a GS-7, and promoted to a GS-9 in 2020. Here, I
                            have learned to work with others through the Agile software development methodology and have learned a lot while working with the front-end team.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>