@import 'placeholders';
@import 'variables';

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #d65b59;
    z-index: -1;
}

#back-button {
    @extend %back-button;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

#back-button:hover {
    background-color: rgb(107, 107, 107);
}

.input {
    background-color: rgba(0, 0, 0, 0);
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    position: relative;
}

.header {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
}

input {
    border-radius: 0.3rem;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 0;
    background-color: #fff0f0;
    color: rgb(49, 49, 49);
    font-weight: bold;
}

.convert {
    position: absolute;
    left: 102%;
    height: 100%;
    font-size: 1.5rem;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.convert:not([disabled]) {
    color: rgb(49, 49, 49);
}

.convert:not([disabled]):hover {
    background-color: rgb(182, 182, 182);
}