<div class="page" id="projects-page">
    <div class="main-container">
        <h1>Projects</h1>
        <div id="projects-container">
            <div class="project">
                <div class="blur" id="uwtournaments"></div>
                <div class="project-name">UWTournaments</div>
                <div class="project-description">
                    <div class="project-description-background"></div>
                    <div class="project-description-container">
                        <div class="project-description-image" id="uwtournaments-image"></div>
                        <div class="project-description-header">UWTournaments</div>
                        <a class="project-description-link" href="https://uwtournaments.herokuapp.com/roster" target="_blank">https://uwtournaments.herokuapp.com/roster</a>
                        <div class="project-description-text">
                            A web application that I made for the UW Tacoma League of Legends club to help organize tournaments. This is a MEAN stack application that also
                            uses Firebase to handle logins. This website is hosted for free on Heroku, so please give it a while to load up. 
                            <br><br>
                            Languages and tools used: MongoDB, Express, Angular, NodeJS, Firebase, Heroku, HTML, CSS, Typescript
                            <br><br>
                            Email: guest@gmail.com<br>
                            Password: password
                        </div>
                        <svg class="project-description-svg" height="15" width="15">
                            <line x1="0" y1="0" x2="15" y2="15" style="stroke:rgb(48, 48, 48); stroke-width:3" />      
                            <line x1="0" y1="15" x2="15" y2="0" style="stroke:rgb(48, 48, 48); stroke-width:3" />         
                        </svg>
                        <a class="project-description-link-button" href="https://uwtournaments.herokuapp.com/roster" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>