<div class="projects-header">
    <h1>Projects</h1>
</div>
<div id="projects-container">
    <div class="project" (click)="changePage('portfolio/web-apps')">
        <div class="blur folder-orange"></div>
        <div class="project-name"><i>Web Apps</i></div>
    </div>
    <div class="project" (click)="changePage('portfolio/games')">
        <div class="blur folder"></div>
        <div class="project-name"><i>Games</i></div>
    </div>
    <div class="project" (click)="changePage('portfolio/school')">
        <div class="blur folder-pink"></div>
        <div class="project-name"><i>School Projects</i></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>
<div id="preload">
    <img class="preloaded-image" src="/assets/Folder.png">
    <img class="preloaded-image" src="/assets/Folder-Orange.png">
    <img class="preloaded-image" src="/assets/Folder-Pink.png">
    <img class="preloaded-image" src="/assets/Sort.png">
    <img class="preloaded-image" src="/assets/Void.png">
    <img class="preloaded-image" src="/assets/Locations/Morgantown.png">
    <img class="preloaded-image" src="/assets/Locations/SouthKorea.png">
    <img class="preloaded-image" src="/assets/Locations/Washington.png">
    <img class="preloaded-image" src="/assets/Locations/WestVirginia.png">
    <img class="preloaded-image" src="/assets/MAE211Project/Img1.jpg">
    <img class="preloaded-image" src="/assets/MAE211Project/Img2.jpg">
    <img class="preloaded-image" src="/assets/MAE211Project/Img3.jpg">
    <img class="preloaded-image" src="/assets/MAE211Project/Img4.jpg">
    <img class="preloaded-image" src="/assets/MAE215Project/Img1.jpg">
    <img class="preloaded-image" src="/assets/MAE215Project/Img2.jpg">
    <img class="preloaded-image" src="/assets/MAE215Project/Img3.jpg">
    <img class="preloaded-image" src="/assets/MAE215Project/Img4.jpg">
    <img class="preloaded-image" src="/assets/MAE215Project/Img5.jpg">
    <img class="preloaded-image" src="/assets/Matlab.jpg">
</div>