<div class="projects-header">
    <h1>Projects</h1>
</div>
<div id="projects-container">
    <app-project-box [link]="'portfolio/web-apps'" [projectName]="'Web Apps'" [folder]="'Folder-Blue'"></app-project-box>
    <app-project-box [link]="'portfolio/school'" [projectName]="'School Projects'" [folder]="'Folder-Orange'"></app-project-box>
    <app-project-box [link]="'portfolio/research'" [projectName]="'Research Projects'" [folder]="'Folder-Pink'"></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
</div>