<div class="projects-header">
    <h1>Projects/Physics</h1>
</div>
<div id="projects-container">
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>