<div class="page" id="skills-page">
    <div class="main-container">
        <h1>Skills</h1>
        <div id="skills-container">
            <h2>Engineering Skills</h2>
            <ul>
                <li>Arduino</li>
                <li>SOLIDWORKS</li>
                <li>XFLR5</li>
                <li>Circuit Wiring</li>
            </ul>
            <br>
            <h2>Programming Skills</h2>
            <br>
            <div id="line">
                <div id="left-tip"></div>
                <div id="right-tip"></div>
                <div id="left-description">Novice</div>
                <div id="right-description">Experienced</div>
            </div>
            <div id="bar-container">
                <div class="skill minimized" style="--percent: 95%; --color: #FF8000">HTML</div>
                <div class="skill minimized" style="--percent: 95%; --color: #FF8000">CSS</div>
                <div class="skill minimized" style="--percent: 90%; --color: #FF8000">Javascript/Typescript</div>
                <div class="skill minimized" style="--percent: 90%; --color: #FF8000">Java</div>
                <div class="skill minimized" style="--percent: 90%; --color: #FF8000">Angular 2+</div>
                <div class="skill minimized" style="--percent: 80%; --color: #FF8000">Matlab</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">NodeJS</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">MongoDB</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">SQL</div>
                <div class="skill minimized" style="--percent: 40%; --color: #1EFF00">Lua</div>
                <div class="skill minimized" style="--percent: 30%; --color: #4A6666; --font: white">C++</div>
                <div class="skill minimized" style="--percent: 20%; --color: #4A6666; --font: white">C</div>
                <div class="skill minimized" style="--percent: 12%; --color: #4A6666; --font: white">C#</div>
            </div>
        </div>
    </div>
</div>