<div class="page" id="skills-page">
    <div class="main-container">
        <h1>Skills</h1>
        <div id="skills-container">
            <div id="line">
                <div id="left-tip"></div>
                <div id="right-tip"></div>
                <div id="left-description">Novice</div>
                <div id="right-description">Experienced</div>
            </div>
            <div id="bar-container">
                <div class="skill minimized" style="--percent: 99%; --color: #FF8000">HTML</div>
                <div class="skill minimized" style="--percent: 99%; --color: #FF8000">Javascript/Typescript</div>
                <div class="skill minimized" style="--percent: 99%; --color: #FF8000">CSS/SASS</div>
                <div class="skill minimized" style="--percent: 97%; --color: #FF8000">Angular 2+</div>
                <div class="skill minimized" style="--percent: 90%; --color: #FF8000">Java</div>
                <div class="skill minimized" style="--percent: 70%; --color: #A335EE; --font: white">JUnit</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">Jasmine</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">Express</div>
                <div class="skill minimized" style="--percent: 60%; --color: #0070FF; --font: white">NodeJS</div>
                <div class="skill minimized" style="--percent: 50%; --color: #0070FF; --font: white">MongoDB</div>
                <div class="skill minimized" style="--percent: 40%; --color: #1EFF00">SQL</div>
                <div class="skill minimized" style="--percent: 35%; --color: #1EFF00">Firebase</div>
                <div class="skill minimized" style="--percent: 30%; --color: #1EFF00">Spring</div>
                <div class="skill minimized" style="--percent: 20%; --color: #1EFF00">Matlab</div>
                <div class="skill minimized" style="--percent: 20%; --color: #1EFF00">Lua</div>
                <div class="skill minimized" style="--percent: 15%; --color: #4A6666; --font: white">C</div>
                <div class="skill minimized" style="--percent: 12%; --color: #4A6666; --font: white">C#</div>
                <div class="skill minimized" style="--percent: 12%; --color: #4A6666; --font: white">C++</div>
            </div>
        </div>
    </div>
</div>