<div id="background"></div>
<div id="back-button" (click)="goBack()">Back</div>
<div class="container">
    <div class="header">
        Credit Score Calculator Group Project
    </div>
    <div class="date">
        March 2021 - May 2021
    </div>
    <div class="description">
        This was a group project taken during the ENGR 102 class of Spring 2021 at WVU. We were assigned into groups of 4 with the goal of the project being to use
        MATLAB and work individually to create a script that could calculate the credit of separate categories that would affect credit, and then combine them together
        into one calculator script.
    </div>
    <div class="description">
        I was personally responsible for how new credit and having multiple types of credit would affect your credit score. I also had to calculate and graph the 
        payments and interest accumulated over time in the scenario where someone would have a history of late payments or not. 
        <br><br>
        Like the project from the ENGR 101 class, we also had to make a Gantt chart <a href="https://docs.google.com/spreadsheets/d/1VHHIN3rTYJZnuMkrbyu2lXNNJ4KWHJZbCxRGlrEEbYo/edit?usp=sharing" target="_blank">Link to the Gantt Chart</a>
        <br><br>
        We also had to write a technical report, and all the graphs and MATLAB code can be found there. <a href="https://docs.google.com/document/d/1I5-Z_bavGT8Pi7HzwedHr3Izc6XiGIWgkwIzWrRCnDM/edit?usp=sharing" target="_blank">Link to the Technical Report</a>
    </div>
</div>