<div id="background"></div>
<div id="back-button" (click)="loader.changePage('portfolio/research')">Back</div>
<div style="text-align:center;">
    <div id="canvas-wrapper">
        <canvas id="c"></canvas>
    </div>
</div>
<input type="button" id="saveButton" value="Convert to SVG" (click)="save()">
<div id="links">
    <a target="_blank" href="https://github.com/Zydico/PortfolioWebsite/blob/master/client/src/app/portfolio/components/projects/fov/fov.component.ts">Source code on Github</a>
</div>
<div class="preload-font" style="font-family:'cmu'">&nbsp;</div>
