<div id="background"></div>
<div id="back-button" (click)="loader.changePage('portfolio/research')">Back</div>

<div style="text-align:center;">
    <div id="canvas-wrapper">
        <canvas id="c"></canvas>
    </div>
</div>

<input type="button" id="saveButton" value="Convert to PDF" (click)="save()">
<div id="downloadSvg"></div>
<div id="links">
    <a target="_blank" href="https://github.com/Zydico/PortfolioWebsite/blob/master/client/src/app/portfolio/components/projects/satellites2/satellites2.component.ts">Source code on Github</a>
</div>

