<div id="filler" [ngStyle]="{'display' : scrollHandlerService.isLocked ? 'block' : 'none'}"></div>
<nav id="header" [ngStyle]="{'position': scrollHandlerService.isLocked ? 'fixed' : 'relative'}">
    <div id="header-links">
        <div class="header-link" [ngClass]="{'selected': scrollHandlerService.isOnTitle}" (click)="scrollTo('title')">HOME</div>
        <div class="header-link" [ngClass]="{'selected': scrollHandlerService.isOnAbout}" (click)="scrollTo('about')">ABOUT</div>
        <div class="header-link" [ngClass]="{'selected': scrollHandlerService.isOnSkills}" (click)="scrollTo('skills')">SKILLS</div>
        <div class="header-link" [ngClass]="{'selected': scrollHandlerService.isOnProjects}" (click)="scrollTo('projects')">PROJECTS</div>
        <div class="header-link" [ngClass]="{'selected': scrollHandlerService.isOnContact}" (click)="scrollTo('contact')">CONTACT</div>
    </div>
</nav>