<div class="page" id="skills-page">
    <div class="main-container">
        <h1>Skills</h1>
        <div id="skills-container">
            <div id="line">
                <div id="left-tip"></div>
                <div id="right-tip"></div>
                <div id="left-description">Messed with it a few times</div>
                <div id="right-description">Experienced</div>
            </div>
            <div id="bar-container">
                <div class="skill minimized" style="--percent: 100%">Angular 2+</div>
                <div class="skill minimized" style="--percent: 100%">HTML</div>
                <div class="skill minimized" style="--percent: 95%">Javascript/Typescript</div>
                <div class="skill minimized" style="--percent: 95%">CSS/SASS</div>
                <div class="skill minimized" style="--percent: 90%">Java</div>
                <div class="skill minimized" style="--percent: 80%">JUnit</div>
                <div class="skill minimized" style="--percent: 70%">Jasmine</div>
                <div class="skill minimized" style="--percent: 60%">MongoDB</div>
                <div class="skill minimized" style="--percent: 60%">Express</div>
                <div class="skill minimized" style="--percent: 60%">NodeJS</div>
                <div class="skill minimized" style="--percent: 50%">Spring</div>
                <div class="skill minimized" style="--percent: 40%">SQL</div>
                <div class="skill minimized" style="--percent: 35%">Firebase</div>
                <div class="skill minimized" style="--percent: 25%">Thymeleaf</div>
                <div class="skill minimized" style="--percent: 25%">Hibernate</div>
                <div class="skill minimized" style="--percent: 20%">Lua</div>
                <div class="skill minimized" style="--percent: 10%">C</div>
            </div>
        </div>
    </div>
</div>