<div class="projects-header">
    <h1>Projects/Web Apps</h1>
</div>
<div id="projects-container">
    <app-project-box [link]="'sort-algorithm-visualizer'" [projectName]="'Sort Algorithm Visualizer'"></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
</div>