<div class="projects-header">
    <h1>Projects/Web Apps</h1>
</div>
<div id="projects-container">
    <!-- <div class="project" (click)="changePage('space-simulation')">
        <div class="blur" id="space-simulation"></div>
        <div class="project-name">Space Simulation</div>
    </div> -->
    <div class="project" (click)="changePage('sort-algorithm-visualizer')">
        <div class="blur" id="sort-algorithm-visualizer"></div>
        <div class="project-name">Sort Algorithm Visualizer</div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>