<div id="background"></div>
<div id="back-button" (click)="loader.changePage('portfolio/web-apps')">Back</div>
<div class="container">
    <div class="header">
        Kepler Simulation
    </div>
    <div class="date">
        January 11, 2023 - Current (WIP)
    </div>
    <div class="description">
        This is with the assumption that the time of periapsis passage is 0 seconds and the mass of the satellite is insignificant compared to the central body.
    </div>
    <br>
    <div class="formContainer">
        <form [formGroup]="variables" (ngSubmit)="onSubmit()">
            <div class="formField">
                <label for="a">Semi-major axis (m)</label>
                <input id="a" type="text" formControlName="a">
                <div *ngIf="variables.controls['a'].errors?.min" class="error">Minimum number is {{min_a}}</div>
                <div *ngIf="variables.controls['a'].errors?.max" class="error">Maximum number is {{max_a}}</div>
            </div>
            <div class="formField">
                <label for="ratio">Semi-minor axis ratio</label>
                <input id="ratio" type="text" formControlName="ratio">
                <div *ngIf="variables.controls['ratio'].errors?.min" class="error">Minimum number is {{min_ratio}}</div>
                <div *ngIf="variables.controls['ratio'].errors?.max" class="error">Minimum number is {{max_ratio}}</div>
            </div>
            <div class="formField">
                <label for="mass">Sun mass (kg)</label>
                <input id="mass" type="text" formControlName="mass">
                <div *ngIf="variables.controls['mass'].errors?.min" class="error">Minimum number is {{min_mass}}</div>
                <div *ngIf="variables.controls['mass'].errors?.max" class="error">Minimum number is {{max_mass}}</div>
            </div>
            <div class="formButton">
                <button class="button" type="submit">Update Simulation</button>
            </div>
        </form>
    </div>
    <br>
    <canvas class="simulation" id="simulation"></canvas>
</div>