<div class="page" id="about-page">
    <div class="main-container">
        <h1>About Me</h1>
        <div id="description" class="transparent-animated transparent-top">
            My name is Matthew Hwang, and I graduated from the University of Washington, Tacoma in 2018 with a Bachelor's in Computer Science. I used to be a federal worker
            at the Bureau of the Fiscal Service as an IT Specialist, where I worked with the front-end team in an Agile environment, mostly working with the Angular framework while utilizing Atlassian project 
            management tools like JIRA, Confluence, and BitBucket. Currently, I am currently enrolled at West Virginia University as of 2021, double majoring in Aerospace Engineering
            and Mechanical Engineering.
            <br><br>
            My dream is to eventually work at NASA directly, or a NASA contractor. Hopefully, with the combination of programming, mechanical engineering, and aerospace
            engineering, I will one day be able to fulfill that dream and contribute to the exploration of the stars.
        </div>
        <div id="location-images">
            <div class="location transparent-animated transparent-right">
                <div id="south-korea" class="location-image"></div>
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">(2009-2013) - Daegu, South Korea</div>
                        <div>Graduated from Daegu American High School, which was located on an American military base stationed at Camp Walker, Daegu, South Korea.</div>
                    </div>
                </div>
            </div>
            <div class="location transparent-animated transparent-left">
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">(2013-2018) - Tacoma, Washington, USA</div>
                        <div>Originally went to the University of Washington, Seattle from 2013 to 2016, but transferred to the Tacoma campus in 2016 and graduated with a 
                        Bachelor's in Computer Science in 2018.
                        </div>
                    </div>
                </div>
                <div id="washington" class="location-image"></div>
            </div>
            <div class="location transparent-animated transparent-right">
                <div id="west-virginia" class="location-image"></div>
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">(2019-2021) - Parkersburg, West Virginia, USA</div>
                        <div>Started working for the Federal Government at the Bureau of the Fiscal Service as an IT Specialist in 2019, starting as a GS-7, and promoted to a GS-9 in 2020. Here, I
                            have learned to work with others through the Agile software development methodology and have learned a lot while working with the front-end team.
                        </div>
                    </div>
                </div>
            </div>
            <div class="location transparent-animated transparent-left">
                <div class="location-text">
                    <div class="location-text-inner">
                        <div class="title">(2021-Current) - Morgantown, Washington, USA</div>
                        <div>Enrolled in West Virginia University and currently pursuing a double Bachelor's in Aerospace Engineering and Mechanical Engineering.</div>
                    </div>
                </div>
                <div id="morgantown" class="location-image"></div>
            </div>
        </div>
    </div>
</div>