<div id="background"></div>
<div id="back-button" (click)="goBack()">Back</div>
<div id="reset-button" (click)="resetDaily()">Reset Dailies</div>
<div class="container">
    <div class="header">Daily</div>
    <div class="timer">Daily resets in: <span>{{dailyTimer.hours}} Hours and {{dailyTimer.minutes}} Minutes</span></div>
    <div class="checkbox-container">
        <div class="item">
            <input type="checkbox" id="roulettes" #roulettes>
            <label for="roulettes" [ngClass]="{'done' : roulettes.checked}">Roulettes</label>
        </div>
        <div class="item">
            <input type="checkbox" id="mini-cactpot" #minicactpot>
            <label for="mini-cactpot" [ngClass]="{'done' : minicactpot.checked}">Mini Cactpot</label>
        </div>
        <div class="item">
            <input type="checkbox" id="beast-tribes" #beasttribes>
            <label for="beast-tribes" [ngClass]="{'done' : beasttribes.checked}">Beast Tribes</label>
        </div>
    </div>
    <div class="timer">GC Turn in resets in: <span>{{dailyGCTimer.hours}} Hours and {{dailyGCTimer.minutes}} Minutes</span></div>
    <div class="checkbox-container">
        <div class="item">
            <input type="checkbox" id="gc-turnins" #gcturnins>
            <label for="gc-turnins" [ngClass]="{'done' : gcturnins.checked}">GC Turn-ins</label>
        </div>
    </div>
    <div class="header">Every 18 Hours</div>
    <div class="item">
        <input type="checkbox" id="map" #map>
        <label for="map" [ngClass]="{'done' : map.checked}">Treasure Map</label>
    </div>
    <div class="item">
        <input type="checkbox" id="squadron" #squadron>
        <label for="squadron" [ngClass]="{'done' : squadron.checked}">GC Squadron</label>
    </div>
    <div class="header">Weekly</div>
    <div class="timer">Weekly resets in: <span>{{weeklyTimer.days}} Days, {{weeklyTimer.hours}} Hours, and {{weeklyTimer.minutes}} Minutes</span></div>
    <div class="checkbox-container">
        <div class="item">
            <input type="checkbox" id="raids" #raids>
            <label for="raids" [ngClass]="{'done' : raids.checked}">Eden Raids</label>
        </div>
        <div class="item">
            <input type="checkbox" id="tomestones" #tomestones>
            <label for="tomestones" [ngClass]="{'done' : tomestones.checked}">Cap Tomestones</label>
        </div>
        <div class="item">
            <input type="checkbox" id="custom-deliveries" #customdeliveries>
            <label for="custom-deliveries" [ngClass]="{'done' : customdeliveries.checked}">Custom Deliveries</label>
        </div>
        <div class="item">
            <input type="checkbox" id="jumbo-cactpot" #jumbocactpot>
            <label for="jumbo-cactpot" [ngClass]="{'done' : jumbocactpot.checked}">Jumbo Cactpot</label>
        </div>
        <div class="item">
            <input type="checkbox" id="wonderous-tails" #wondroustails>
            <label for="wonderous-tails" [ngClass]="{'done' : wondroustails.checked}">Wondrous Tails</label>
        </div>
        <div class="item">
            <input type="checkbox" id="fashion-report" #fashionreport>
            <label for="fashion-report" [ngClass]="{'done' : fashionreport.checked}">Fashion Report</label>
        </div>
        <div class="item">
            <input type="checkbox" id="masked-carnivale" #maskedcarnivale>
            <label for="masked-carnivale" [ngClass]="{'done' : maskedcarnivale.checked}">Masked Carnivale</label>
        </div>
        <div class="item">
            <input type="checkbox" id="doman-enclave" #domanenclave>
            <label for="doman-enclave" [ngClass]="{'done' : domanenclave.checked}">Doman Enclave</label>
        </div>
    </div>
</div>