<div class="page" id="contact-page">
    <div id="arrow"></div>
    <div class="main-container">
        <h1>Contact</h1>
        <div id="links">
            <div class="row">
                <div class="left-side">Email:</div>
                <div class="right-side">matthewhwang95@gmail.com</div>
            </div>
            <div class="row">
                <div class="left-side">LinkedIn:</div>
                <div class="right-side"><a href="https://www.linkedin.com/in/matthewhwang95/" target="_blank">https://www.linkedin.com/in/matthewhwang95</a></div>
            </div>
            <div class="row">
                <div class="left-side">Github:</div>
                <div class="right-side"><a href="https://github.com/Zydico" target="_blank">https://github.com/Zydico</a></div>
            </div>
        </div>
    </div>
</div>