#escaping-the-void {
    background-image: url("/assets/Void.png");
}

#ffxiv-potd {
    background-image: url("/assets/Potd.png");
}

#blooming-forest {
    background-image: url("/assets/MaplestorySpirit.jpg");
}