#escaping-the-void {
    background-image: url("/assets/Void.png");
}

#ffxiv-checklist {
    background-image: url("/assets/FF14.png");
}

#ffxiv-potd {
    background-image: url("/assets/Potd.png");
}