<div class="projects-header">
    <h1>Projects/Games</h1>
</div>
<div id="projects-container">
    <div class="project">
        <div class="blur" id="escaping-the-void"></div>
        <div class="project-name">Escaping the Void</div>
        <div class="project-description">
            <div class="project-description-background"></div>
            <div class="project-description-container">
                <div class="project-description-header">Escaping the Void</div>
                <div class="project-description-link-container">
                    <a class="project-description-link" href="https://rawgit.com/Kyubei/491-game/master/491Game/index.html" target="_blank">Click to Play Here</a>
                    <br/><br/>
                    <a class="project-description-link" href="https://github.com/Kyubei/491-game/tree/master/491Game" target="_blank">Github Link</a>
                </div>
                <div class="project-description-text">
                    A game developed during a university course with another student. This game was developed using only HTML, CSS, and Javascript. We were given
                    a very simple Javascript game engine and we modified the engine to suit our needs. Characters are the property of Riot Games, and other assets
                    such as the backgrounds and sound effects do not belong to us. 
                    <br/><br/>
                    Made during Jan 23, 2018 - Mar 9, 2018
                </div>
                <br>
                <svg class="project-description-svg" height="15" width="15">
                    <line x1="0" y1="0" x2="15" y2="15" style="stroke:rgb(48, 48, 48); stroke-width:3" />      
                    <line x1="0" y1="15" x2="15" y2="0" style="stroke:rgb(48, 48, 48); stroke-width:3" />         
                </svg>
            </div>
        </div>
    </div>
    <div class="project" (click)="changePage('ffxiv-potd')">
        <div class="blur" id="ffxiv-potd"></div>
        <div class="project-name">Final Fantasy XIV POTD Accursed Hoard Map</div>
    </div>
    <div class="project" (click)="changePage('ffxiv-checklist')">
        <div class="blur" id="ffxiv-checklist"></div>
        <div class="project-name">Final Fantasy XIV Checklist</div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>