<div id="background"></div>
<div id="back-button" (click)="loader.changePage('portfolio/school')">Back</div>
<div class="container">
    <div class="header">
        Paper Cargo Airplane Group Project
    </div>
    <div class="date">
        January 2021 - May 2021
    </div>
    <div class="description">
        This was a group project taken during the ENGR 101 class of Spring 2021 at WVU. We were assigned into groups of 4 with the goal of the project being utilize
        the engineering design process to design, build, and test a paper airplane that is capable of carrying cargo of a certain weight a minimum distance while
        going in as straight of a line as possible, while also minimizing the weight in comparison to the planes of other groups.
    </div>
    <div class="description">
        The cargo is roughly 60 grams, and we are restricted to simple printer paper, tape, and glue. The total length of the plane must be at least 2 feet, with no
        restriction on the width. The plane must also be able to fly at least 15 feet, with max points being awarded if it can fly more than 25 feet. 
    </div>
    <div class="description">
        Our first task was to assign a leader (me) and agree on a meeting day and time, as well as assign someone to write down the meeting minutes. I went ahead and
        created a Gantt chart so that we had a clear visual representation of what our schedules should look like. <a href="https://docs.google.com/spreadsheets/d/1EL2luEkEcyKIHkeGuV3hgnWT-h20yeAv6g7DAc_p9qY/edit?usp=sharing" target="_blank">Link to the Gantt Chart</a>
    </div>
    <div class="description">
        We would then have to do our individual background research to help us with our project. I particularly focused on the aerodynamics and dihedral angle since
        I believed that information would be the most useful for this project. All of the members' individual background research would then be edited and put together
        into our first Progress Report before being submitted. We then did some brainstorming and used a decision matrix to decide on how we were going to proceed
        with the design of our paper airplane, and had to create a powerpoint presentation which we presented to the rest of the class. What followed soon after for
        multiple weeks was a cycle of designing, testing, and modifying our paper airplane design, writing our second progress report somewhere in the middle and then
        submitting our final design with the technical report and presenting the data with a poster presentation to the class. <a href="https://docs.google.com/presentation/d/1KZgvdtKImdeTWcPTP--CWs3_iI5cZ9bzFRqSrdZQoKs/edit?usp=sharing" target="_blank">Link to the Poster Presentation</a>
    </div>
</div>