<div id="background"></div>
<div id="back-button" (click)="loader.changePage('portfolio/school')">Back</div>
<div class="container">
    <div class="header">
        Airfoil Analysis Group Project
    </div>
    <div class="date">
        October 2021 - December 2022
    </div>
    <div class="description">
        This was a group project taken during the MAE 335  class of Fall 2022 at WVU (Incompressible Aerodynamics). We were a group of 3 with the goal of the project being to learn
        and use the XFLR5 software to perform analysis on the NACA 23015 and NACA 1408 airfoils. We were provided variables such as Wing Planform Area, Taper Ratio, Aspect Ratio, 
        and Cruise Velocity, and were tasked to find the effects that variables such as Aspect Ratio, Sweep, and Taper Ratio have on the lift, drag, and moment coefficients. But before 
        analysis could be done, a panel independence study was performed to find the minimum number of panels that were necessary to perform the analysis, as to not have to perform
        unnecessary computations so that the analysis time would be greatly shortened. 
    </div>
    <div class="sub-header">Example figures from report</div>
    <br>
    <div class="images">
        <img src="/assets/Images/MAE_335_Project/Img1.jpg" alt="NACA 1408 analysis 1">
        <img src="/assets/Images/MAE_335_Project/Img2.jpg" alt="NACA 1408 analysis 2">
        <img src="/assets/Images/MAE_335_Project/Img3.jpg" alt="Taper Ratio analysis">
    </div>
</div>