<div class="projects-header">
    <h1>Projects/Research</h1>
</div>
<div id="projects-container">
    <app-project-box [link]="'satellites'" [projectName]="'Satellites'"></app-project-box>
    <app-project-box [link]="'sda'" [projectName]="'SDA Figure'"></app-project-box>
    <app-project-box [link]="'cr3bp'" [projectName]="'CR3BP Figure'"></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
</div>