<div id="background"></div>
<div id="back-button" (click)="goBack()">Back</div>
<div class="container">
    <div class="header">
        Piano Pedal Disability Assistance Mechatronic Device
    </div>
    <div class="date">
        January 2022 - May 2022
    </div>
    <div class="description">
        This was a group project taken during the MAE 211 class of Spring 2022 at WVU (Mechatronics). We were a group of 4 with the goal of the project being to
        design and build a mechatronic device that would be useful for someone with a disability. We decided to go with my idea of a device that would enable someone
        with lower body impairment to be able to utilize a piano pedal with only the use of their mouth with a button. I was responsible for the initial idea and design,
        the SOLIDWORKS modeling, the coding for the Arduino in MATLAB and with the Arduino IDE, Arduino circuiting, the objectives/project description/team management parts
        of the report, and the final video.
    </div>
    <br>
    <div class="images">
        <a href="/assets/MAE211Project/Proposal.pdf" download>Project Proposal PDF Download Link</a>
        <br>
        <a href="/assets/MAE211Project/Technical_Report.pdf" download>Technical Report PDF Download Link</a>
        <br><br>
        <img src="/assets/MAE211Project/Img1.jpg" alt="Initial Design">
        <img src="/assets/MAE211Project/Img2.jpg" alt="SOLIDWORKS Model">
        <img src="/assets/MAE211Project/Img3.jpg" alt="SOLIDWORKS arm Model">
        <img src="/assets/MAE211Project/Img4.jpg" alt="Final prototype">
    </div>
</div>