@import 'variables';
@import 'placeholders';

#title-page {
    @extend %center-content;
    width: 100%;
    height: calc(100vh - #{$headerHeight});
    flex-direction: column;
}

#title {
    font-size: 3rem;
    text-align: center;
}

#title::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: white;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

#job {
    font-size: 1.75rem;
    user-select: none;
    position: relative;
    text-align: center;
    width: 25rem;
}

#about-me {
    position: absolute;
    top: 150%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, 0%);
    font-size: 0.8em;
    padding: 0.5rem 0.75rem;
    border: 0.1rem solid white;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#about-me-background {
    width: 150%;
    height: 300%;
    background-color: $lightBlue;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-110%, -50%) rotate(15deg);
    z-index: 0;
    transition: left 0.5s;
}

#about-me-text {
    position: relative;
    z-index: 1;
}

#about-me:hover #about-me-background {
    left: 120%;
}