<div id="title-page">
    <div id="title">Matthew Hwang</div>
    <div id="job">
        Mechanical and Aerospace Engineering Student
        <div id="about-me">
            <div id="about-me-background"></div>
            <div id="about-me-text" (click)="scroll()">About Me</div>
        </div>
    </div>
</div>
<!-- <div id="preload">
    <link rel="preload" href="/assets/Fonts/CMU_Serif_Upright.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/Fonts/CMU_Serif_Bold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/Fonts/CMU_Serif_Italic.ttf" as="font" type="font/ttf" crossorigin>
</div> -->
<app-header></app-header>