#back-button {
    background-color: rgb(59, 59, 59);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

#back-button:hover {
    background-color: rgb(107, 107, 107);
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(48, 167, 94);
    z-index: -1;
}

.description {
    margin-top: 1rem;
    text-indent: 2rem;
    line-height: 1.6;
}

.container {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 2rem;
}

.header {
    font-size: 1.5rem;
    text-align: center;
}

.sub-header {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2.5rem;
}

.date {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.images {
    margin-top: 0.5rem;
    text-align: center;
}

a {
    color: rgb(226, 220, 255);
    font-weight: bold;
}

img {
    width: 90%;
    max-width: 90%;
    max-height: auto;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.simulation {
    background-color: #1d1d1d;
    border-radius: 2px;
    border-color: rgb(17, 17, 17);
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.formContainer {
    background-color: rgb(25, 90, 50);
    border-radius: 5px;
    padding: 1rem;
}

label {
    margin-right: 0.5rem;
}

input {
    width: 5rem;
    font-size: 0.9rem;
}

.formField {
    display: inline-block;
    margin-right: 2.5rem;
}

.formButton {
    margin-top: 1rem;
}

button {
    cursor: pointer;
    background-color: rgb(40, 138, 78);
    color: white;
    border: 0;
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

button:hover {
    background-color: rgb(51, 175, 99);
}