$lightGray: rgb(168, 169, 172);
$superLightGray: rgb(219, 219, 219);
$extremeLightGray: rgb(245, 245, 245);
$headerHeight: 50px;
$blackBackground: rgba(0, 0, 0, 0.836);
$lightBlue: rgb(173, 173, 255);
$darkBlue: rgb(87, 87, 255);
$darkGray: #2a2b2c;