@import 'placeholders';
@import 'variables';

#loader {
    @extend %full-screen;
    @extend %center-content;
    z-index: 999;
    background-color: #36393F;
    transition-timing-function: ease-in;
    transition: top 1s;
}

#center {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

#center-ball {
    width: 40px;
    height: 40px;
}

.ball {
    border-radius: 50%;
    background-color: $lightGray;
    position: absolute;
    left: 0;
    top: 0;
}

.small-ball {
    width: 15px;
    height: 15px;
}

.large-ball {
    width: 20px;
    height: 20px;
}

.ring {
    width: 0;
    height: 0;
}

#inner-ring {
    animation: spin 3s linear infinite;
}

#outer-ring {
    animation: spin 5s linear infinite;
}

#small-ball-1 {
    transform: translate(calc(-50% - 40px), calc(-50%));
}

#small-ball-2 {
    transform: translate(calc(-50% + 40px), calc(-50%));
}

#large-ball-1 {
    transform: translate(calc(-50% - 70px), calc(-50%));
}

#large-ball-2 {
    transform: translate(calc(-50% + 70px), calc(-50%));
}

.arc {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 3px solid;
}

.small-arc {
    width: 78px;
    height: 78px;
}

.big-arc {
    width: 138px;
    height: 138px;
}

#arc-1 {
    border-color: transparent transparent $lightGray transparent;
    transform: translate(-50%, -50%) rotate(-25deg);
}

#arc-2 {
    border-color: transparent transparent transparent $lightGray;
    transform: translate(-50%, -50%) rotate(-40deg);
}

#arc-3 {
    border-color: $lightGray transparent transparent transparent;
    transform: translate(-50%, -50%) rotate(-25deg);
}

#arc-4 {
    border-color: transparent $lightGray transparent transparent;
    transform: translate(-50%, -50%) rotate(-40deg);
}

#arc-5 {
    border-color: transparent transparent $lightGray transparent;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#arc-6 {
    border-color: transparent transparent transparent $lightGray;
    transform: translate(-50%, -50%) rotate(-40deg);
}

#arc-7 {
    border-color: $lightGray transparent transparent transparent;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#arc-8 {
    border-color: transparent $lightGray transparent transparent;
    transform: translate(-50%, -50%) rotate(-40deg);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}