<div id="loader">
    <div id="center">
        <div id="center-ball" class="ball center"></div>
        <div id="inner-ring" class="center ring">
            <div id="small-ball-1" class="ball small-ball"></div>
            <div id="small-ball-2" class="ball small-ball"></div>
            <div id="arc-1" class="arc small-arc"></div>
            <div id="arc-2" class="arc small-arc"></div>
            <div id="arc-3" class="arc small-arc"></div>
            <div id="arc-4" class="arc small-arc"></div>
        </div>
        <div id="outer-ring" class="center ring">
            <div id="large-ball-1" class="ball large-ball"></div>
            <div id="large-ball-2" class="ball large-ball"></div>
            <div id="arc-5" class="arc big-arc"></div>
            <div id="arc-6" class="arc big-arc"></div>
            <div id="arc-7" class="arc big-arc"></div>
            <div id="arc-8" class="arc big-arc"></div>
        </div>
    </div>
</div>