<div class="projects-header">
    <h1>Projects/School</h1>
</div>
<div id="projects-container">
    <div class="project" (click)="changePage('piano-pedal')">
        <div class="blur" id="piano-pedal"></div>
        <div class="project-name">MAE 211 Piano Pedal Disability Assistance Mechatronic Device</div>
    </div>
    <div class="project" (click)="changePage('balsa-wood-glider')">
        <div class="blur" id="balsa-wood-glider"></div>
        <div class="project-name">MAE 215 Balsa Wood Glider</div>
    </div>
    <div class="project" (click)="changePage('credit-calculator')">
        <div class="blur green" id="credit-calculator"></div>
        <div class="project-name">ENGR 102 Credit Calculator</div>
    </div>
    <div class="project" (click)="changePage('paper-airplane')">
        <div class="blur green" id="paper-airplane"></div>
        <div class="project-name">ENGR 101 Paper Cargo Airplane</div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>