<div class="projects-header">
    <h1>Projects/School</h1>
</div>
<div id="projects-container">
    <div class="project" (click)="changePage('credit-calculator')">
        <div class="blur" id="credit-calculator"></div>
        <div class="project-name">ENGR 102 Credit Calculator</div>
    </div>
    <div class="project" (click)="changePage('paper-airplane')">
        <div class="blur" id="paper-airplane"></div>
        <div class="project-name">ENGR 101 Paper Cargo Airplane</div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
    <div class="project">
        <div class="blur"></div>
        <div class="project-name"></div>
    </div>
</div>