<div class="projects-header">
    <h1>Projects/School</h1>
</div>
<div id="projects-container">
    <app-project-box [link]="'airfoil-analysis'" [projectName]="'MAE 335 Airfoil Analysis'"></app-project-box>
    <app-project-box [link]="'piano-pedal'" [projectName]="'MAE 211 Piano Pedal Disability Assistance Mechatronic Device'"></app-project-box>
    <app-project-box [link]="'balsa-wood-glider'" [projectName]="'MAE 215 Balsa Wood Glider'"></app-project-box>
    <app-project-box [link]="'credit-calculator'" [projectName]="'ENGR 102 Credit Calculator'"></app-project-box>
    <app-project-box [link]="'paper-airplane'" [projectName]="'ENGR 101 Paper Cargo Airplane'"></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
    <app-project-box></app-project-box>
</div>