.green {
    background-color: rgb(0, 175, 0);
}

#balsa-wood-glider {
    background-image: url("/assets/MAE215Project/Img5.jpg");
    background-size: cover;
    background-position: center;
}

#piano-pedal {
    background-image: url("/assets/MAE211Project/Img4.jpg");
    background-size: cover;
    background-position: center;
}